@model List<Product>

@{
    ViewData["Title"] = "ProductListWithCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Tables</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Tables</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Basic Tables</a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Hoverable Table</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Cat. Id</th>
                                    <th scope="col">Cat. Name</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ProductId</td>
                                        <td>@item.ProductName</td>
                                        <td>@item.Stock</td>
                                        <td>@item.Price</td>
                                        <td>@item.CategoryId</td>
                                        <td>@item.Category.CategoryName</td>
                                        <td><a href="/Products/UpdateProduct/@item.ProductId" class="btn btn-success">Update</a></td>
                                        <td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Product/CreateProduct/" class="btn btn-primary">Add New Product</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


